<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.toolbarmenu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToolbarMenu">
        <activity
            android:name=".Ej6NavigationDrawerActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolbarMenu.NoActionBar"/>
        <activity
            android:name=".Ej5ToolbarActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolbarMenu.NoActionBar" />
        <activity
            android:name=".Ej4ContextMenu2Activity"
            android:exported="false" />
        <activity
            android:name=".Ej4ContextMenuActivity"
            android:exported="false" />
        <activity
            android:name=".Ej3AtrasActivity"
            android:exported="false" />
        <!--
<meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.toolbarmenu.MainActivity" />
        </activity>
        -->
        <activity
            android:name=".Ej2MenuOpcionesActivity"
            android:exported="false" />
        <activity
            android:name=".Ej1MenuOpcionesActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>